<div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="primaryMenuSelectedValue">
  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" [value]="0"> Standalones
  </label>
  <!--<label ngbButtonLabel class="btn-primary">-->
    <!--<input ngbButton type="radio" [value]="1"> Chains-->
  <!--</label>-->
  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" [value]="2"> Calendar
  </label>
  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" [value]="3"> Notes
  </label>
  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" [value]="4"> People
  </label>
</div>

<div [ngSwitch]="primaryMenuSelectedValue">
  <div id="standalones-wrapper" *ngSwitchCase="0">
    <app-financial [standalones]="database.standalones" (financialEntityAdded)="onFinancialEntityAdded($event)"
    (financialEntityRemoved)="onFinancialEntityRemoved($event)"></app-financial>
  </div>
  <div id="calendar-wrapper" *ngSwitchCase="2">
    <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventDrop)="onEventDrop($event)"
                     (viewRender)="onViewRender($event)"></ng-fullcalendar>
  </div>
  <div id="notes-wrapper" *ngSwitchCase="3">
    <app-notes [notes]="database.notes" (noteAdded)="onNoteAdded($event)"
    (noteRemoved)="onNoteRemoved($event)"></app-notes>
  </div>

  <div id="people-wrapper" *ngSwitchCase="4">
    <app-people [people]="database.people" (personAdded)="onPersonAdded($event)"
    (personRemoved)="onPersonRemoved($event)"></app-people>
  </div>
</div>
