<div  class="financial-entity-header">
  <span>Events</span>
  <button type="button" class="btn btn-sm btn-success" (click)="open(addEventModal)">Add</button>
</div>

<ng-template #addEventModal let-close="close()" let-dismiss="dismiss()">
  <div class="modal-header">
    <h4 class="modal-title">Add a New Financial Event</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Event Name</label>
        <div class="input-group">
          <input #eventName class="form-control" type="text">
        </div>
        <label>Event Date</label>
        <div class="input-group">
          <input #eventDate class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button">
              <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
            </button>
          </div>
        </div>
        <label>Event Sum</label>
        <div class="input-group">
          <input #eventSum class="form-control" type="text">
        </div>
        <label>Event Currency</label>
        <div class="input-group">
          <input #eventCurrency class="form-control" type="text">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="submitNewEvent(eventName.value, eventDate.value,
      +eventSum.value, eventCurrency.value); close">Save</button>
  </div>
</ng-template>

<div *ngFor="let financialEvent of standalones" class="standalone-event">
  <div class="standalone-event-name">{{ financialEvent.name }}</div>
  <div class="standalone-event-date">{{ financialEvent.date | date: 'dd/MM/yyyy' }}</div>
  <div class="standalone-event-sum">{{ financialEvent.sum }}</div>
  <div class="standalone-event-currency">{{ financialEvent.currency }}</div>
  <div class="standalone-event-remove"><input type="button" value="Remove" (click)="removeEvent(financialEvent.id)"></div>
</div>
