div#standalones-header {
  margin-left: 16px;
}
div#standalones-header span {
  font-weight: bold;
  font-size: 24px;
}
div#standalones-header button {
  margin-left: 16px;
}
div.standalone-event {
  display: flex;
}
div.standalone-event div {
  padding: 6px 16px;
}
div.standalone-event div.standalone-event-name {
  width: 250px;
}
div.standalone-event div.standalone-event-date {
  width: 160px;
}
div.standalone-event div.standalone-event-sum {
  width: 100px;
}
div.standalone-event div.standalone-event-currency {
  width: 80px;
}
div.standalone-event div.standalone-event-remove {
  width: 100px;
}
div#target-date-wrapper {
  margin-top: 20px;
}
